body{
	background-color: #7422C7;
}


h1{
	color: red;
	font-size: 4em;
	text-align: center;
}

p{
	text-align: center; 
	color: black;
	padding: -10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button{ 
 
      text-align: center;
      background-color: black;
      color: white;
      padding: 4px;

       }
#CantTrumpTheTrump{
	
	text-align: center;
}

#Welcome{
	padding: 14px 16px;
	text-align: center;
	margin: 10px;

}

#guess_number{

	align-content: center;
	text-align: center;
	position: center;
	
}

ul #anything1{

	padding: 30px;
	margin: 10px;
	display: inline;
}

ul #loop{

	padding:30px;
	margin: 10px;
	display: inline;
}

#loldude{

	font-size: 100px;
	color: Yellow
}

#Murray{

	font-size: 50px;
	color: white;
	font-style: Daily Tabloid JNL
}

#looping{

	background-image: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/04/03/14/joker-phoenix.jpg?w968h681');
	background-repeat: no-repeat;
	background-size: 85%;
	object-fit: fill;
}

#password{

	  text-align: center;
      background-color: black;
      color: white;
      padding: 4px;
      align-content: center;

}